# APP
NODE_ENV="development"
NEXT_PUBLIC_APP_URL="https://localhost:3000"


# AUTHENTICATION (@ NEXT-AUTH)
# Secret can be generated with `openssl rand -base64 32`
# Follow instructions at https://codevoweb.com/nextjs-add-google-and-github-oauth2-using-nextauth-js/ to obtain client ids and secrets
NEXTAUTH_URL=""
AUTH_SECRET=""
JWT_SECRET_KEY=""
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""


# DATABASE (POSTGRES @ NEON)
# Ensure you append `sslmode=required` after the question mark in your connection string
DATABASE_URL=""


