# APP
NODE_ENV="development"
NEXT_PUBLIC_APP_URL="https://localhost:3000"

# AUTHENTICATION (@ NEXT-AUTH)
# Secret can be generated with `openssl rand -base64 32`
# Follow instructions at https://codevoweb.com/nextjs-add-google-and-github-oauth2-using-nextauth-js/ to obtain client ids and secrets
AUTH_SECRET=""
JWT_SECRET_KEY=""

GOOGLE_ID=""
GOOGLE_SECRET=""
GITHUB_ID=""
GITHUB_SECRET=""

# DATABASE (POSTGRES @ NEON)
# Ensure you append `sslmode=required` after the question mark in your connection string
DATABASE_URL=""

# EMAIL (@ RESEND)
RESEND_API_KEY=""
RESEND_EMAIL_FROM=""
RESEND_EMAIL_TO=""
RESEND_HOST="smtp.resend.com"
RESEND_USERNAME="resend"
RESEND_PORT="465"