# APP
NODE_ENV="development"
NEXT_PUBLIC_APP_URL="https://localhost:3000"


# AUTHENTICATION (@ NEXT-AUTH)
# Secret can be generated with `openssl rand -base64 32`
# Follow instructions at https://codevoweb.com/nextjs-add-google-and-github-oauth2-using-nextauth-js/ to obtain client ids and secrets
NEXTAUTH_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""


# DATABASE
DATABASE_URL=""


